<section class="w3l-circles py-5" id="circles">
    <div class="container py-md-5 py-2">
        <!--/row-2-->
        <div class="row w3l-circles">
            <div class="col-lg-6 circles-left">
                <img src="~/Agrowfarm-Starter/assets/images/a6.jpg" alt="" class="radius-image img-fluid">
            </div>
            <div class="col-lg-6 circles-right mt-lg-0 mt-5 align-self  position-relative">
                <h6 class="title-subw3hny">Why Us</h6>
                <h3 class="title-w3l mb-4">Growing Healthy Food</h3>
                <p class="mb-5">
                    Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                    elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet.
                </p>
                <div class="progress-circles-grids">
                    <div class="progress-circles">
                        <div class="progress-left">
                            <div class="circle1">
                                <div id="progress" data-dimension="80" data-text="85%" data-fontsize="18" data-percent="85" data-fgcolor="#006837" data-bgcolor="#f3f5f4" data-width="10" data-bordersize="4" data-animationstep="2">
                                </div>

                            </div>
                            <div class="progress-right">
                                <h4>Organic Solutions</h4>
                                <p class="mb-lg-5">Lorem ipsum feugiat dolor sit amet.</p>
                            </div>
                        </div>

                    </div>
                    <div class="progress-circles">
                        <div class="progress-left">
                            <div class="circle1">
                                <div id="progress1" data-dimension="80" data-text="95%" data-fontsize="18" data-percent="95" data-fgcolor="#006837" data-bgcolor="#f3f5f4" data-width="10" data-bordersize="4" data-animationstep="2">
                                </div>
                            </div>
                            <div class="progress-right">
                                <h4>Quality Agriculture</h4>
                                <p class="mb-lg-5">Lorem ipsum feugiat dolor sit amet.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--//row-2-->
    </div>
</section>