<section class="w3l-about-6 py-5" id="about">
    <div class="container py-lg-5 py-md-3">
        <div class="row align-items-center">
            <div class="col-lg-6 pe-lg-5">
                <h6 class="title-subw3hny">Hakkımızda</h6>
                <h3 class="title-w3l">Agriculture & Organic Product Form</h3>
                <p class="mt-md-4 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ullamco laboris. </p>
                <ul class="service-list pt-lg-2 mt-4">

                    <li class="service-link"><a href="#url"><span class="fa fa-check-circle"></span> Fresh Vegetables</a></li>
                    <li class="service-link"><a href="#url"><span class="fa fa-check-circle"></span> Dairy Products</a></li>
                    <li class="service-link"><a href="#url"><span class="fa fa-check-circle"></span> Professional Farmers</a></li>
                </ul>
            </div>
            <div class="HomeAboutImages col-lg-6 mt-lg-0 mt-5">
                <div class="row position-relative">
                    <div class="col-6">
                        <img src="~/Agrowfarm-Starter/assets/images/a1.jpg" alt="" class="radius-image img-fluid">
                    </div>
                    <div class="col-6 mt-4">
                        <img src="~/Agrowfarm-Starter/assets/images/a2.jpg" alt="" class="radius-image img-fluid mb-md-3 mb-2">
                        <img src="~/Agrowfarm-Starter/assets/images/a3.jpg" alt="" class="radius-image img-fluid mt-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>