
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!doctype html>
<html lang="en">
<body>
    @await Component.InvokeAsync("_DefaultBannerComponentPartial")
    @await Component.InvokeAsync("_DefaultAboutComponentPartial")
    @await Component.InvokeAsync("_DefaultWhatWeDoComponentPartial")
    @await Component.InvokeAsync("_DefaultVideoPopupComponentPartial") 
    @await Component.InvokeAsync("_DefaultWhyUsComponentPartial")
    @await Component.InvokeAsync("_DefaultTestimonialComponentPartial")
    @await Component.InvokeAsync("_DefaultHomeStatsComponentPartial")
    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-long-arrow-alt-up" aria-hidden="true"></span>
    </button> 
</body>

</html>

