@model List<Banner>
@foreach (var x in Model)
{
    <section class="banner-19">
        <div class="banner-layer">
            <div class="main-content-top">
                <div class="container">
                    <div class="main-content">
                        <div class="w3lbanner-left">
                            <!-- if logo is image enable this
                            <a class="logo" href="index.html">
                                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                            </a> -->
                            <h6>@x.Title</h6>
                            <h4>@x.SubTitle </h4>

                            <a href="about.html" class="btn btn-style btn-secondary mt-md-5 mt-4">Devamını gör..</a>
                        </div>
                        <div class="w3lbanner-right">
                            <p>@x.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
